body {
    background-color: #f0f8ff; /* Un albastru deschis pentru fundal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #4caf50; /* Verde vibrant */
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Un efect de umbră */
}
